.container {
	padding: 90px;
	font-family: arial;
}
p {
	justify-content: justify;
}

h1 {
	font-weight: 900;
}

hr {
	margin-left: 5px;
	width: 70px;
	border: 3px solid yellow;
}

h5 {
	font-weight: 900;
}
.btn {
	background-color: yellow;
	border: 3px solid yellow;
	color: black;
	padding: 10px;
	margin-top: 20px;
	font-weight: 900;
}
.kiri {
	margin-top: -300px;
	margin-left: 700px;
}
.kanan {
	margin-right: 600px;
}
