/* Mengubah Warna*/
.bg-purple {
	background-color: #d8bcd4;
}
/* Membuat kotak atas */
.kotakan-atas {
	height: 150px;
	width: 455px;
	background-color: #ffffff;
}

/* Membuat kotak bawah */
.card {
	background-color: rgb(196, 191, 191) !important;
}

@media screen and (max-width: 576px) and (min-width: 0px) {
	.media1 {
		margin-bottom: 10px;
		margin-right: 170px;
		width: 200px !important;
		height: 200px !important;
	}
	.kotakan-atas {
		margin-bottom: 30px;
		height: 150px;
		width: 450px;
	}
	.media2 {
		margin-bottom: 50px;
		margin-right: 170px;
		width: 430px !important;
		height: 200px !important;
	}
}

@media screen and (max-width: 768px) and (min-width: 577px) {
	.media1 {
		margin-bottom: 10px;
		margin-right: 170px;
		width: 200px !important;
		height: 200px !important;
	}
	.kotakan-atas {
		margin-bottom: 30px;
		height: 150px;
		width: 470px;
	}
	.media2 {
		margin-bottom: 50px;
		margin-right: 170px;
		width: 460px !important;
		height: 200px !important;
	}
}
